@import '../../../assets/colors.scss';
@import '../../../assets/size-params.scss';

.item-a {
  grid-area: developer;
  background-color: $dark-blue;
}
.item-b {
  grid-area: geophisicist;
  background-color: $red;
}
.item-c {
  grid-area: mentor;
  background-color: $red;
}
.item-d {
  grid-area: pilot;
  background-color: $greyish;
}
.item-e {
  grid-area: traveler;
  background-color: $light-blue;
}

.item {
  height: 100%;
  box-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

img {
  height: 100%;
}
  
.gallery {
  padding: 20px;
  display: grid;
  position: absolute;
  left: 0;
  top: $menu-height;
  align-items: stretch;
  width: calc(100vw - 80px);
  height: calc(100vh - #{$menu-height} - 40px);

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas:
    "developer developer developer traveler"
    "pilot pilot . traveler"
    "pilot pilot . geophisicist"
    "mentor mentor mentor .";

  span {
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;

    img {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      background-color: white;
    }
  }
}
