@import '../../../assets/colors.scss';
@import '../../../assets/size-params.scss';

.item-a {
  grid-area: pilot_grid;
  background: no-repeat url('../../../assets/images/paragliding/pilot.jpg');
  background-size: 100%;
}
.item-b {
  grid-area: above_clouds;
  background: no-repeat url('../../../assets/images/paragliding/above_clouds.jpg');
  background-size: 100%;
}
.item-c {
  grid-area: launch;
  background: no-repeat url('../../../assets/images/paragliding/launchplace.jpg');
  background-size: 100%;
}
.item-d {
  grid-area: garda;
  background: no-repeat url('../../../assets/images/paragliding/garda.jpeg');
  background-size: 100%;
}
.item-e {
  grid-area: torocko;
  background: no-repeat url('../../../assets/images/paragliding/torocko.JPG');
  background-size: 100%;
}
.item-f {
  grid-area: emberger;
  background: no-repeat url('../../../assets/images/paragliding/weissensee.jpg');
  background-size: 100%;
}

item {
  background-position: center;
}
  
.gallery {
  padding: 5px;
  display: grid;
  position: absolute;
  left: 0;
  top: $menu-height;
  width: calc(100vw - 10px);
  height: calc(100vh - #{$menu-height} - 10px);

  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "pilot_grid pilot_grid pilot_grid garda garda garda"
    "pilot_grid pilot_grid pilot_grid garda garda garda"
    "launch launch torocko torocko emberger emberger"
    "launch launch . above_clouds emberger emberger"
  
}

