<nav>
  <div>
<!--     <div class="img"></div> -->
    <span class="hey" (click)="setComponent('intro')">Boglarka Mathe</span>
  </div>
  <div>
    <span (click)="setComponent('developer')" [ngStyle]="{'border-bottom': actualComponent === 'developer' ? '5px solid rgba(48, 196, 196, 1)' : 'none'}">Developer</span>
    <span (click)="setComponent('geophisicist')" [ngStyle]="{'border-bottom': actualComponent === 'geophisicist' ? '5px solid rgba(48, 196, 196, 1)' : 'none'}">Geophysicist</span>
    <span (click)="setComponent('mentor')" [ngStyle]="{'border-bottom': actualComponent === 'mentor' ? '5px solid rgba(48, 196, 196, 1)' : 'none'}">Mentor</span>
    <span (click)="setComponent('pilot')" [ngStyle]="{'border-bottom': actualComponent === 'pilot' ? '5px solid rgba(48, 196, 196, 1)' : 'none'}">Pilot</span>
    <span (click)="setComponent('traveler')" [ngStyle]="{'border-bottom': actualComponent === 'traveler' ? '5px solid rgba(48, 196, 196, 1)' : 'none'}">Traveler</span>
  </div>
</nav>
