@import '../../../assets/colors.scss';
@import '../../../assets/size-params.scss';

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  vertical-align: center;
  height: $menu-height;

  span {
    display: inline-block;
    top: -2px;
    background: none;
    padding: 5px 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 24px;
    color: $dark-blue;
    cursor: pointer;

    &:hover {
      color: $light-blue;
      font-style: italic;
    }

    &:active {
      text-shadow: 0px 5px 20px rgba(150, 150, 150, 1);
    }
  }

  div {
    display: inline-block;

    .img {
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      border: 1px solid lightslategrey;
      border-radius: 50%;
      padding: 0;
      margin: 5px 20px;
      background-image: url('../../../assets/images/DSC_0003.jpg');
    }

    .hey {
      position: relative;
      left: 40px;
    }
  }

}
