<!-- <div class="gallery" *ngIf="(positionService.getPosition().x === 0 && positionService.getPosition().y === 0)">
  <span class="item item-a">Frontend developer</span>
  <span class="item item-b">Geophisicist</span>
  <span class="item item-c">Mentor</span>
  <span class="item item-d">Paragliding pilot</span>
  <span class="item item-e">Traveler</span>
</div> -->
<div class="overlay"></div>
<img src="./assets/images/DSC_0003.jpg"/>
<article>
  <div id="welcome">Hey, it's me,</div>
  <div id="name">BOGLÁRKA MÁTHÉ</div>
  <div id="jobs">
    <span (click)="setComponent('developer')">Frontend developer</span><span>/</span>
    <span (click)="setComponent('geophisicist')">Geophysicist</span><span>/</span>
    <span (click)="setComponent('mentor')">Mentor</span>
  </div>
  <div id="hobbies">
    <span (click)="setComponent('pilot')">Paragliding pilot</span><span>/</span>
    <span (click)="setComponent('traveler')">Traveler</span>
  </div>
</article>

