<article>
  <div id="welcome">Hey, it's me,</div>
  <div id="name">BOGLÁRKA MÁTHÉ</div>
  <div id="jobs">
    <span (click)="setComponent('developer')">Frontend developer</span><span>/</span>
    <span (click)="setComponent('geophisicist')">Geophisicist</span><span>/</span>
    <span (click)="setComponent('mentor')">Mentor</span>
  </div>
  <div id="hobbies">
    <span (click)="setComponent('pilot')">Paragliding pilot</span><span>/</span>
    <span (click)="setComponent('traveler')">Traveler</span>
  </div>
</article>
