<div class="container">
  <div class="sidebar">
    <div class="gallery-title">Gallery</div>
    <div class="gallery-container">
      <div class="up-button" (click)="scrollDownGallery()"><i class="fas fa-chevron-circle-up"></i></div>
      <div id="gallery-slider">
        <div [ngStyle]="{'top': galleryPosition+'px'}" style="height: galleryNeededHeight+'px'">
          <img *ngFor="let img of galleryService.getActualGallery()" alt={{img.alt}} src="./assets/images/{{img.path}}" (click)="galleryService.activateViewer(); galleryService.setActualImage(galleryService.getActualGallery().indexOf(img))">
        </div>
      </div>
      <div class="down-button" (click)="scrollUpGallery()"><i class="fas fa-chevron-circle-down"></i></div>
    </div>
  </div>
  <article class="main-content">
    <!-- <div class="word-cloud"></div> -->
    <div class="history">
      <h1>Work Experience</h1>
      <nav>
        <div [ngClass]="{'activeTab': actualTab === 'nokia'}" (click)="changeTab('nokia')">Nokia</div>
        <div [ngClass]="{'activeTab': actualTab === 'greenfox'}" (click)="changeTab('greenfox')">Green Fox Academy</div>
      </nav>
      <section class="experience" [ngStyle]="{'display': actualTab === 'nokia' ? 'flex' : 'none'}">
        <span class="details">
          <span class="time-milestone">2018 April - present</span>
          <h2 class="job-title">UI Developer</h2>
          <section class="job-description">
            <h4>Project: Crowd Analytics</h4>
            <p class="aim">This is a big data project based on mobile network data. Its aim is to help to "recycle" the information on how mobile devices (so crowd of people) are moving in general, for supporting marketing or urban development decisions.</p>
            <p class="tasks">My tasks</p>
            <ul>
              <li>Implement new features for an Angular 5 application which can visualize how people are moving across/ around a particular area (for example within a city). For the visualization, openstreetmap, Leaﬂet and CSS canvas were used. PrimeNg was responsible for the smooth design.</li>
              <li>Write unit tests using karma/jasmine test environment.</li>
              <li>Write e2e tests using the selenium based robot framework.</li>
            </ul>
          </section>
        </span>
        <span class="tech-stack">
          <span class="tech-label">Technologies & Tools</span>
          <p><span>Angular5</span><span>Typescript</span><span>NodeJS</span><span>REST</span><span>MongoDB</span></p>
          <p><span>Git</span><span>GitLab</span><span>TortoisGit</span><span>i18n</span></p>
          <p><span>Jira</span><span>Confluence</span><span>Microsoft teams</span></p>
          <p><span>Scrum</span><span>Continous delivery</span></p>
        </span>
      </section>
      <section class="experience" [ngStyle]="{'display': actualTab === 'greenfox' ? 'flex' : 'none'}">
        <span class="details">
          <span class="time-milestone">2017 March - 2018 April</span>
          <h2 class="job-title">Mentor & Junior Developer</h2>
          <section class="job-description">
            <p class="aim">Aim of the project</p>
            <p class="tasks">My tasks as mentor</p>
            <ul>
              <li>Giving lectures for students (in Hungarian or English languages)</li>
              <li>1on1 mentoring, code review, personal feedback</li>
              <li>Creating and mantaining coding exercises</li>
              <li>Keeping work organised/administration</li>
            </ul>
            <p class="tasks">My tasks as a developer</p>
            <ul>
              <li>Leading a Scrum team of 5 students</li>
              <li>Taking part in development & testing of an Angular5 based application, which enables to handle student proﬁles, and school-related events easier</li>
              <li>Taking part in development of a platform independent CLI application, written in Python, which can test the student's solutions of workshop exercises</li>
            </ul>
          </section>
        </span>
        <span class="tech-stack">
          <span class="tech-label">Technologies & Tools</span>
          <p><span>Python</span><span>Javascript</span><span>TypeScript</span><span>AngularJS</span><span>Angular2+</span></p>
          <p><span>CSS</span><span>Sass</span><span>NodeJS</span><span>MySQL</span><span>Karma/Jasmine</span><span>Java</span></p>
          <p><span>Git</span><span>GitHub</span><span>Webpack</span><span>Glitch</span></p>
          <p><span>Asana</span><span>Trello</span><span>Slack</span></p>
          <p><span>Holacracy</span><span>Scrum</span></p>
        </span>
      </section>
    </div>
  </article>

  <img-viewer *ngIf="galleryService.getViewerStatus()"></img-viewer>
<!--     [ngStyle]="{'opacity': galleryService.getViewerStatus() ? '1' : '0',
                'z-index': galleryService.getViewerStatus() ? '30' : '0'}">
  </img-viewer> -->
</div>
