<div class="overlay" (click)="galleryService.deactivateViewer()">
</div>
<div class="viewer-container" (mouseover)="setInfoActive()" (mouseout)="setInfoInActive()">
  <img src="./assets/images/{{galleryService.getActualGallery()[galleryService.getActualImage()].path}}"/>
  <div class="img-container">
    <span class="back" (click)="galleryService.setPreviousImage()"><i class="fas fa-angle-left"></i></span>
    <span class="next" (click)="galleryService.setNextImage()"><i class="fas fa-angle-right"></i></span>
  </div>
  <section [ngStyle]="{'bottom': isInfoActive ? '0' : '-80px'}">
    <h2>{{galleryService.getActualGallery()[galleryService.getActualImage()].alt}}</h2>
    <p>{{galleryService.getActualGallery()[galleryService.getActualImage()].description}}
      <span>
          <a target="_blank" rel="noopener noreferrer" *ngIf="galleryService.getActualGallery()[galleryService.getActualImage()].link" href="{{galleryService.getActualGallery()[galleryService.getActualImage()].link}}">Link</a>
      </span>
    </p>
  </section>
</div>