@import '../../../assets/colors.scss';
@import '../../../assets/size-params.scss';

div {
    font-family: 'Quicksand', sans-serif;
    color: $grey;
    font-size: 50px;
    padding-top: 200px;
    text-align: center;
}